<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Add Job Profile', link: '/jobprofile' },
          { title: 'Setting', link: '/setting' },
        ]; track item.title) {
          <a
            class="pill"
            [routerLink]="item.link"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
          </a>
        }
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your Hackthon is running. 🎉</p>
      <router-outlet />
    </div>
  </div>
</main>


<p>Congratulations! Your Hackthon is running. 🎉</p>